In [1]:
import pandas as pd

In [2]:
!ls ./dataset_0914

BostonHousing.csv             iris.csv
BostonHousing_description.txt liver.csv
PimaIndiansDiabetes.csv       prestige.csv
cars.csv                      ucla_admit.csv
credit.csv

### Car DataSet

In [5]:
car_data = pd.read_csv('./dataset_0914/cars.csv')
# 위쪽 5행
car_data.head()

   speed  dist
0      4     2
1      4    10
2      7     4
3      7    22
4      8    16

In [20]:
# 컬럼들 이름
car_data.columns

Index(['speed', 'dist'], dtype='object')

In [25]:
# 2번째 컬럼 값들
car_data.loc[:, car_data.columns[1]]

0       2
1      10
2       4
3      22
4      16
5      10
6      18
7      26
8      34
9      17
10     28
11     14
12     20
13     24
14     28
15     26
16     34
17     34
18     46
19     26
20     36
21     60
22     80
23     20
24     26
25     54
26     32
27     40
28     32
29     40
30     50
31     42
32     56
33     76
34     84
35     36
36     46
37     68
38     32
39     48
40     52
41     56
42     64
43     66
44     54
45     70
46     92
47     93
48    120
49     85
Name: dist, dtype: int64

In [23]:
# 11~20 행 speed column 값
car_data.loc[11:20, 'speed']

11    12
12    12
13    12
14    12
15    13
16    13
17    13
18    13
19    14
20    14
Name: speed, dtype: int64

In [27]:
# speed 가 20이상인 행 자료
car_data[car_data['speed'] >= 20]

    speed  dist
38     20    32
39     20    48
40     20    52
41     20    56
42     20    64
43     22    66
44     23    54
45     24    70
46     24    92
47     24    93
48     24   120
49     25    85

In [29]:
# speed 가 10보다 크고 dist가 50보다 큰 자료
car_data[(car_data['speed'] > 10) & (car_data['dist'] > 50)]

    speed  dist
21     14    60
22     14    80
25     15    54
32     18    56
33     18    76
34     18    84
37     19    68
40     20    52
41     20    56
42     20    64
43     22    66
44     23    54
45     24    70
46     24    92
47     24    93
48     24   120
49     25    85

In [30]:
# speed 가 15보다 크고 dist가 50보다 큰 자료 갯수
len(car_data[(car_data['speed'] > 15) & (car_data['dist'] > 50)])

14